<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с лидерами</p>
    </div>
</div>

<div class="principles">
    <div class="wrapper">
        <ul class="principles_list">
            <li class="principles_item mb-m">
                <p class="h1 principles_number">1</p>
                <div class="principles_text">
                    <p class="principles_title h2">Популярность</p>
                    <p class="principles_body">Ваша деятельность известна и уважаема в России. Вы успешны в миссии становления добра и нравственности</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">2</p>
                <div class="principles_text">
                    <p class="principles_title h2">Объединение</p>
                    <p class="principles_body">Вы готовы рассмотреть возможность работы с нами, принятия прав администратора, и т.п. (желательный пункт)</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">3</p>
                <div class="principles_text">
                    <p class="principles_title h2">Помощь в рекламе</p>
                    <p class="principles_body">Вы можете рассказать большой аудитории о нашей деятельности для пополнения пользователей социальной сети ради общего блага и счастья</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">4</p>
                <div class="principles_text">
                    <p class="principles_title h2">Доверие</p>
                    <p class="principles_body">Вы понимаете серьезность наших намерений, обещаний, деятельности. Не сомневаетесь в будущем курсе правил сайта.</p>
                </div>
            </li>
            <ul>
    </div>
</div>
