<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с модераторами</p>
    </div>
</div>

<div class="principles">
    <div class="wrapper">
        <ul class="principles_list">
            <li class="principles_item mb-m">
                <p class="h1 principles_number">1</p>
                <div class="principles_text">
                    <p class="principles_title h2">Порядочность</p>
                    <p class="principles_body">Вы не занимаетесь деструктивной, вредной деятельностью в вашей жизни</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">2</p>
                <div class="principles_text">
                    <p class="principles_title h2">Справедливость</p>
                    <p class="principles_body">Вы можете беспристрастно судить о информации в ключе "хорошо-плохо", согласны пройти тест</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">3</p>
                <div class="principles_text">
                    <p class="principles_title h2">Свободное время</p>
                    <p class="principles_body">Разумеется, Вы готовы на частый онлайн в сети, можете быстро выйти на связь с нами</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">4</p>
                <div class="principles_text">
                    <p class="principles_title h2">Идейность</p>
                    <p class="principles_body">Вы готовы помогать нам менять действительность и создавать общество нравственных, трезвых и честных людей</p>
                </div>
            </li>
            <ul>
    </div>
</div>
