<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с промоутерами</p>
    </div>
</div>

<div class="principles">
    <div class="wrapper">
        <ul class="principles_list">
            <li class="principles_item mb-m">
                <p class="h1 principles_number">1</p>
                <div class="principles_text">
                    <p class="principles_title h2">Нравственность</p>
                    <p class="principles_body">Вы хотите продвигать хорошие проекты и отказываетесь от плохих</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">2</p>
                <div class="principles_text">
                    <p class="principles_title h2">Идейность</p>
                    <p class="principles_body">Вам приятно стать дополнительной причиной развития первой хорошей соцсети в мире</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">3</p>
                <div class="principles_text">
                    <p class="principles_title h2">Порядочность</p>
                    <p class="principles_body">Вы не прибегаете к грязным приемам продвижения соцсети. И мы, и Вы про них знаем и не одобряем</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">4</p>
                <div class="principles_text">
                    <p class="principles_title h2">Гибкость</p>
                    <p class="principles_body">Самые разные схемы обмена благами, как и полагается договариваться проекту со специалистами этой области</p>
                </div>
            </li>
            <ul>
    </div>
</div>
