<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с инвесторами</p>
    </div>
</div>

<div class="principles">
    <div class="wrapper">
        <ul class="principles_list">
            <li class="principles_item mb-m">
                <p class="h1 principles_number">1</p>
                <div class="principles_text">
                    <p class="principles_title h2">Нравственность</p>
                    <p class="principles_body">Вы не инвестируете в деструктивные проекты, имеете репутацию порядочной компании / персоны</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">2</p>
                <div class="principles_text">
                    <p class="principles_title h2">Открытость</p>
                    <p class="principles_body">Вы не против прозрачной и открытой политики взаимодействия с нами. Никаких "черных схем" мы не обсуждаем</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">3</p>
                <div class="principles_text">
                    <p class="principles_title h2">Обособленность</p>
                    <p class="principles_body">Вы не претендуете в будущем оказывать влияние на нашу политику развития соцсети</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">4</p>
                <div class="principles_text">
                    <p class="principles_title h2">Модернизация</p>
                    <p class="principles_body">Вы согласны с фактором постоянного развития наших услуг в продвижении и рекламе ваших товаров и услуг</p>
                </div>
            </li>
            <ul>
    </div>
</div>
