<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с партнерами</p>
    </div>
</div>

<div class="principles">
    <div class="wrapper">
        <ul class="principles_list">
            <li class="principles_item mb-m">
                <p class="h1 principles_number">1</p>
                <div class="principles_text">
                    <p class="principles_title h2">Общее дело</p>
                    <p class="principles_body">Ваша деятельность направлена на становление нравственного общества, вы занимаетесь хорошими делами</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">2</p>
                <div class="principles_text">
                    <p class="principles_title h2">Обмен рекламой</p>
                    <p class="principles_body">Мы с удовольствием поможем Вашему проекту продвинуться в интернете, и будем признательны за взаимность</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">3</p>
                <div class="principles_text">
                    <p class="principles_title h2">Рекомендации</p>
                    <p class="principles_body">Если Ваш проект новый, нам необходимо подтверждение признанных соратников в том, что ваши намерения приемлемы для нас</p>
                </div>
            </li>
            <li class="principles_item mb-m">
                <p class="h1 principles_number">4</p>
                <div class="principles_text">
                    <p class="principles_title h2">Индивидуальность</p>
                    <p class="principles_body">Детали сотрудничества будут зависеть от смысла существования вашего проекта, и обговорятся персонально</p>
                </div>
            </li>
            <ul>
    </div>
</div>
