{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}{{ object.name }} - {{ object.category|cut:'ы' }} | трезвый.рус{% endblock %}
{% block meta %}
<meta property="og:url" content="http://свои.рус{{ object.get_absolute_url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ object.name }} - {{ object.category|cut:'ы' }} | трезвый.рус" />
<meta property="og:image" content="http://свои.рус{{ object.image|thumbnail_url:'og' }}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="{{ object.name }}" data-menu-current="">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ object.category.image.url }}" srcset="
            {{ object.category.image|thumbnail_url:'vert_160' }} 160w,
            {{ object.category.image|thumbnail_url:'vert_240' }} 240w,
            {{ object.category.image|thumbnail_url:'vert_320' }} 320w,
            {{ object.category.image|thumbnail_url:'hor_480' }} 480w,
            {{ object.category.image|thumbnail_url:'hor_640' }} 640w,
            {{ object.category.image|thumbnail_url:'hor_960' }} 960w,
            {{ object.category.image|thumbnail_url:'hor_1440' }} 1440w,
            {{ object.category.image|thumbnail_url:'hor_1600' }} 1600w,
            {{ object.category.image|thumbnail_url:'hor_1920' }} 1920w,
            {{ object.category.image|thumbnail_url:'hor_2240' }} 2240w,
            {{ object.category.image|thumbnail_url:'hor_2560' }} 2560w,
            {{ object.category.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro margin_tb">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h2 class="intro_title margin_b text-appear">{{ object.name }}</h2>
            <div class="intro_text about_w">
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
    <div class="margin_tb mb_32"></div>
    <div class="wrapper" style="margin-top: 150px;">
        <div class="about_panel margin_tb">
          <div class="about margin_b3">
              <div class="about_w margin_t">
                  {{ object.content|safe }}
              </div>
          </div>
          <div class="about margin_b3">
              <div class="about_w margin_t">
                {% if object.image %}
                <img src="{{ object.image.url }}" class="item_img" srcset="
                  {{ object.image|thumbnail_url:'vert_160' }} 160w,
                  {{ object.image|thumbnail_url:'vert_240' }} 240w,
                  {{ object.image|thumbnail_url:'vert_320' }} 320w,
                  {{ object.image|thumbnail_url:'hor_480' }} 480w,
                  {{ object.image|thumbnail_url:'hor_640' }} 640w,
                  {{ object.image|thumbnail_url:'hor_960' }} 960w,
                  {{ object.image|thumbnail_url:'hor_1440' }} 1440w,
                  {{ object.image|thumbnail_url:'hor_1600' }} 1600w,
                  {{ object.image|thumbnail_url:'hor_1920' }} 1920w,
                  {{ object.image|thumbnail_url:'hor_2240' }} 2240w,
                  {{ object.image|thumbnail_url:'hor_2560' }} 2560w,
                  {{ object.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="image" data-parallax="-1.2" crossorigin="" />
                {% endif %}
              </div>
          </div>
        </div>
    </div>

    <div class="margin_tb mb_32"></div>

    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
          <div class="footer_similar margin_b3" data-component="showtext">
              <a class="footer_similar_link h2 text-appear" href="http://свои.рус/people/{{ object.category.slug }}">
                  <span>Все {{ object.category.name }}</span>
              </a>
          </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>
{% endblock %}
