{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}О проекте{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/og_logo.jpg' %}?quer" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="about" data-menu-current="">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ banner.image.url }}" srcset="
            {{ banner.image|thumbnail_url:'vert_160' }} 160w,
            {{ banner.image|thumbnail_url:'vert_240' }} 240w,
            {{ banner.image|thumbnail_url:'vert_320' }} 320w,
            {{ banner.image|thumbnail_url:'hor_480' }} 480w,
            {{ banner.image|thumbnail_url:'hor_640' }} 640w,
            {{ banner.image|thumbnail_url:'hor_960' }} 960w,
            {{ banner.image|thumbnail_url:'hor_1440' }} 1440w,
            {{ banner.image|thumbnail_url:'hor_1600' }} 1600w,
            {{ banner.image|thumbnail_url:'hor_1920' }} 1920w,
            {{ banner.image|thumbnail_url:'hor_2240' }} 2240w,
            {{ banner.image|thumbnail_url:'hor_2560' }} 2560w,
            {{ banner.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro margin_tb">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h2 class="intro_title margin_b text-appear">О проекте</h2>
            <div class="intro_text about_w">
                <p>{{ banner.description|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="margin_tb mb_32"></div>

    <div class="wrapper">
        <div class="about_panel margin_tb">
            <div class="about margin_b3">
                <p class="h3">Замысел</p>
                <div class="about_w margin_t">
                  Больше полутора лет назад несчастья будущего разработчика соцсети закончились: на просторах ютуба он повстречался с профессионалом избавления от вредных привычек Фахреевым Владимиром. Харизма и уровень подготовки последнего так сработали, что хватило просмотра плейлиста "Спецкурс", чтобы раз и навсегда стать трезвым человеком. <br>
                  Каждый нормальный веб-мастер хочет создать что-то большое и светлое, однако это не так-то просто: нужен хороший замысел, а также серьезные связи для продвижения ресурса. И начал я думать – а что, если создать социальную сеть для счастливых людей? Такой сайт получит поддержку больших проектов с хорошими делами, я получу возможность заняться большим и ответственным проектом, пользователи смогут ощутить информационное воздействие "наоборот" - когда нахождение в соцсети не превращает тебя из человека в зомби, а способствует личностному и духовному росту.
                </div>
            </div>
            <div class="about margin_b3">
                <p class="h3">Поддержка</p>
                <div class="about_w margin_t">
                    Конечно, первым делом я обратился к Владимиру Фахрееву. Его роль определилась в заслуженное словосочетание - "Лидер-первооткрыватель", идейное и духовное начало будущей социальной сети для счастливых людей. Ни у кого не возникнет и намека на мысль, что такой человек не справится с этой ответственной ролью<br>
                    Еще один проект также сыграл в моей жизни большую роль. Научил вырабатывать защитный рефлекс при встрече с любой информацией в ключе "а чему это меня учит?" Речь идет о проекте "Научи Хорошему". Если ознакомиться с деятельностью этой команды, можно восхититься, насколько они "к месту" в наше время информационной агрессии. Проект активно участвует в становлении соцсети – делится новостями строительства в своей большой группе, поддерживает.<br>
                    Плюс к этому я "поднял связи" с моими друзьями с канала "Движение", которые в борьбе с социальной несправедливостью ничего не боятся, имеют огромную
                    аудиторию, и, в общем, также занимаются правильными делами.
                </div>
            </div>

            <div class="about margin_b3">
                <p class="h3">трезвый.рус</p>
                <div class="about_w margin_t">
                  Проект трезвый.рус за несколько месяцев планирования и строительства усложнялся несколько раз, пока в итоге не был отшлифован и структурирован в социальную сеть высокого уровня. Технические решения будущей деятельности получились такие:<br><br>
                  1. Структура и расположение отделов и модулей будет похожа на сеть "Вконтакте", лучше для нашего менталитета не придумаешь, и незачем <br><br>
                  2. Приватность – основной приоритет технического программирования соцсети. Закрытые профили, приватные сообщества - нигде "мышь не проскочит" <br><br>
                  3. Многообразие разделов определилось тактической необходимостью - в наше время сложных и разносторонних соцсетей иначе нельзя <br><br>
                  4. Найдены способы добавить мультимедиа с привычными инструментами взаимодействия с ними  <br><br>
                  5. Все действия пользователя и ответы сервера (сообщения, репосты, лайки-дизлайки, опубликовывание информации, поиск, получение уведомлений) происходят сразу, без перезагрузки страницы. К примеру, после удаления комментария можно отменить это действие, есди страница не перезагружена<br><br>
                  6. Статьи определены, как место абсолютного творчества со множеством вариантов работы с ними <br><br>
                  7. Прописаны надежные и продуманные решения по правам модерации и администрирования на уровне сообществ, профиля и сети в целом. Так, глобальный администратор может дать права управления только в раздел музыки, и только на удаление треков, с возможностью нанимать помощников <br><br>
                  <br>
                  З.Ы. Конечно, уровень разработки потребовал существенно большего времени.

                  Принципы выделяются следующие:<br><br>
                  1. Вся работа, изменения и нюансы соцсети служат делу трезвости и нравственности<br><br>
                  2. Вся разработка и генеральные пути развития определяются одним человеком для гарантии неизменности убеждений и
                  точности работы оборудования<br><br>
                  3. Контекстная реклама банков, казино, инфоциган, наркотиков – допускаться не будет
                </div>
            </div>
            <div class="about margin_b3">
                <p class="h3">свои.рус</p>
                <div class="about_w margin_t">
                  Далеко не все проекты и организации пошли на встречу в создании, казалось бы общего дела. Однако те, которые пошли, натолкнули на мысли:
                  <br><br>
                  1. Нужен некий отдельный веб-ресурс, желательно максимально «крутого» качества ("встречают по одежке"), на котором надо будет освещать ход становления соцсети, набирать команду для различных функций. Вообще, знакомить людей с идеями лучше на одном сайте, а не в каком-нибудь Вконтакте, где права сомнительны и та же группа может существовать без гарантий в завтрашнем дне. Рекламировать, продвигать также удобнее один сайт
                  <br><br>
                  2. Необходимо сформулировать общие принципы взаимодействия с той или иной категорией команды соцсети. Чего мы будем ожидать от нее, что сможем предоставить взамен оказанной помощи. Такие положения, перерастающие в документы и договоры, следует предоставить для ознакомления любому желающему, а также использовать для разрешения возможных проблем или сомнительных моментов в сотрудничестве
                  <br><br>
                  3. Любые договорные нюансы должны быть прозрачны. Это обезопасит репутацию руководства социальной сети от возможных посягательств в будущем.

                </div>
            </div>
        </div>
    </div>

    <div class="margin_tb mb_32"></div>

    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
