<div class="not-supported">
    <p class="lead">This website is not optimized for your browser. </p>
    <button onClick="(function(){
        document.documentElement.classList.remove('show-notsupported');
        return false;
    })();return false;">Закрыть</button>
</div>
<div class="cookiebar" data-component="cookiebar">
    <button class="cookiebar_close">
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <p class="text-appear">
        <span class="line"><span>Мы используем файлы cookies.</span></span><span class="line"><span>Если Вы против политики сбора таких данных, пожалуйста покиньте сайт</span></span>
    </p>
</div>
<!--
<div class="thank" data-component="thank">
    <div class="thank_layer" data-ref="thank.layer"></div>
    <div class="thank_popup">
        <button class="popup_close" data-ref="thank.close">
            <div class="first"><span></span></div>
            <div class="second"><span></span></div>
        </button>
        <div class="thank_panel" data-ref="thank.panel">
            <div class="thank_image">
                <img data-ref="thank.img" src="/static/images/window.jpg" alt="Speaker">
            </div>
            <div class="thank_content" data-ref="thank.right">
                <h3>Спасибо за заявку</h3>
                <div class="margin_b"></div>
                <p>Здесь пояснительный или рекламный текст</p>
                <div class="margin_b2"></div>
                <a href="" class="more">
                    ссылка
                </a>
                <div class="margin_b"></div>
                <a href="" class="more">
                    подпишитесь на наши обновления
                </a>
            </div>
        </div>
    </div>
</div>
-->
